<ion-header>
  <ion-toolbar color="light toolbar">
    <ion-back-button defaultHref="supervisor" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="fondof">
<div class="container"><br>
  <img src="../../../../assets/icon/alta_mesas.png">
  <br><br>
  <form [formGroup]="mesasForm">
    <ion-item color="light" lines="full" class="input-wrapper">
      <ion-input type="number" color="dark" placeHolder="Nro Mesa" formControlName="nro_mesa" required [disabled]="true">
      </ion-input>
    </ion-item>
    <ion-item color="light" lines="full" class="input-wrapper">
      <ion-input type="string" color="dark" placeHolder="Estado" formControlName="estado" required [disabled]="true">
      </ion-input>
    </ion-item>
    <ion-item color="light" lines="full" class="input-wrapper">
      <ion-input type="number" color="dark" placeHolder="Capacidad" formControlName="comensales" required min="1">
      </ion-input>
    </ion-item>
    <ion-row class="hiddenItems">
      <small *ngIf="mesasForm.get('comensales').hasError('required') && (mesasForm.get('comensales').dirty || mesasForm.get('comensales').touched)" style="color: var(--ion-color-danger)" [ngClass]="mesasForm.get('comensales').hasError('required') && mesasForm.get('comensales').touched ? 'visible' : 'hidden'">Este campo es obligatorio</small>
    </ion-row>
    <ion-item color="light" lines="full" class="input-wrapper" style="margin-top: 0px;">
      <ion-label position="fixed">Tipo mesa</ion-label>
      <ion-select value="0" interface="popover" formControlName="tipo_mesa" placeholder="Seleccione una opcion"required>
        <ion-select-option value="COMUN">Estándar</ion-select-option>
        <ion-select-option value="DISCAPACITADOS">Discapacitados</ion-select-option>
        <ion-select-option value="VIP">Vip</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row class="hiddenItems">
      <small
        *ngIf="mesasForm.get('tipo_mesa').hasError('required') && (mesasForm.get('tipo_mesa').dirty || mesasForm.get('tipo_mesa').touched)"
        style="color: var(--ion-color-danger)"
        [ngClass]="mesasForm.get('tipo_mesa').hasError('required') && mesasForm.get('tipo_mesa').touched ? 'visible' : 'hidden'">Este
        campo es obligatorio</small>
    </ion-row>
    <ion-row class="cta-row">
      <ion-button (click)="GuardarNuevaMesa()" type="submit" class="" color="success" [disabled]="!mesasForm.valid">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
    </ion-row>
  </form>
</div>
</ion-content>