<ion-content><br><br>
  <div class="logo" id="fondo"><br>
        <ion-img  src="../../../assets/icon/integrantes.png"></ion-img>
    <div class="icono fuego">
      <ion-img src="../../../assets/icon/fuego.png"></ion-img>
    </div><br><br>
    <div class="nombre">
      <div class="icono sabor">
        <ion-img src="../../../assets/icon/sabor.png"></ion-img>
      </div>
      <div class="icono nuestro">
        <ion-img src="../../../assets/icon/nuestro.png"></ion-img>
      </div>
    </div>
  </div>
</ion-content>