<ion-header>
  <ion-toolbar color="light toolbar">
    <ion-title>{{titulo}}</ion-title>
    <ion-icon slot="end" (click)="dismiss()" name="close-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="fondof">
  <ion-slides  pager="true" [options]="slideOpts" style="margin-top:1em">
    <ion-slide *ngFor="let image of producto.img_src">
        <img [src]="image" style="height: 5em;">
    </ion-slide>
  </ion-slides>
  <form [formGroup]="formProducto">
    <ion-item lines="full" class="input-wrapper">
      <ion-label class="light" position="fixed">Nombre: </ion-label>
      <ion-input type="text" placeholder={{producto.nombre}} formControlName="nombre" #nombre
       [disabled]="isDisabled">
      </ion-input>
    </ion-item>
      <ion-item lines="full" class="input-wrapper">
        <ion-label class="light" position="fixed">Descripcion</ion-label>
        <ion-input type="text" placeholder={{producto.descripcion}} formControlName="descripcion" #descripcion
        [disabled]="isDisabled">
        </ion-input>
      </ion-item>
        <ion-item lines="full" class="input-wrapper">
          <ion-label class="light" position="fixed">Precio $</ion-label>
          <ion-input type="number" placeholder={{producto.precio}} formControlName="precio" #precio
          [disabled]="isDisabled">
          </ion-input>
        </ion-item>

        <ion-item lines="full" class="input-wrapper">
          <ion-label class="light" position="fixed">Tiempo de elaboracion: </ion-label>
          <ion-input type="number" placeholder={{producto.tiempo_elaboracion}} formControlName="tiempo" #tiempo  
          [disabled]="isDisabled">
          </ion-input>
        </ion-item>

        
        <ion-item lines="full" class="input-wrapper">
          <ion-label class="light" position="fixed">Sector</ion-label>
          <ion-select value="0" #sector interface="popover" formControlName="sector"
            placeholder="Seleccione una opcion"  [disabled]="isDisabled" >
            <ion-select-option class="light" value="BEBIDA">Bebidas</ion-select-option>
            <ion-select-option class="light" value="COCINA">Cocina</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row style="margin-top: 1em; display:flex; justify-content: center">
          <ion-button  class="light" (click)="modificarProducto()" *ngIf="modificar">MODIFICAR</ion-button>
          <ion-button  class="light" (click)="eliminarConfirm()" *ngIf="eliminar">ELIMINAR</ion-button>
        </ion-row>
  </form>
   
 
</ion-content>