<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button (click)="navigateBack()" slot="start"></ion-back-button>
    <ion-title>Carta</ion-title>
    <ion-icon slot="end" name="qr-code-outline" (click)="ScanQr()" style="font-size: 2em; margin-right: 0.5em;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showCarta">
    <ion-list>
    </ion-list>

<ngx-spinner
type=null
template="<img src='assets/spinner_fueguito.gif' height='125'/>"
><p style="color: rgb(0, 0, 0)" > Cargando... </p></ngx-spinner>